* {
    box-sizing: border-box;
    font-family: 'Bungee Inline', sans-serif;
}

.container {
    position: relative;
    display: inline-block;
}

.inner-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.timer {
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    border-style: solid;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.health {
    background-color: red;
    height: 30px;
    width: 100%;
}

.healthback {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
}

.enemyback {
    left: 0;
}

.playerback {
    width: 100%;
}

.healthui {
    position: relative;
    width: 100%;
    border-color: white;
    border-style: solid;
}

#player {
    display: flex;
    justify-content: flex-end;
}

.tie {
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}